{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Finxate - Financial Management Web App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/home.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Unbounded:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="nav">
      <a class="nav-title" href="{% url 'home' %}">Finxate</a>
      <ul>
        <li><a href="{% url 'transactions:index' %}">Login/Sign Up</a></li>
      </ul>
    </nav>
    <div class="main-content">
      <div class="image-container">
        <img src="{% static 'images/home_vector.jpg' %}" alt="Placeholder Image" />
      </div>
      <div class="text-container">
        <h2>Welcome to Finxate</h2>
        <p>
          Finxate is a financial management web app that helps you track your
          income and expenses, create budgets, and more.
        </p>
        <a href="#" class="button">Get Started</a>
      </div>
    </div>
  </body>
</html>
