{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Site</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Unbounded:wght@500&display=swap" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  </head>
  <body>
    <nav class="nav">
      <a class="nav-title" href="{% url 'home' %}">Finxate</a>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'transactions:index' %}">Transactions</a></li>
      </ul>
    </nav>

    <main>{% block content %} {% endblock %}</main>

    <footer>
      {% block footer %}
      <p>&copy; 2023 Finxate. All rights reserved.</p>
      {% endblock %}
    </footer>
  </body>
</html>